<clr-tabs>
    <clr-tab>
      <button clrTabLink class="general" >General</button>
      <!-- <clr-tab-content *clrIfActive>
        Dashboard content
      </clr-tab-content> -->
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Posts</button>
      <clr-tab-content *clrIfActive="true" class="posts">
        <!-- Post content -->
        <div class="chatcard">
            <app-messages></app-messages>
            <app-newconvobutton></app-newconvobutton>
        </div>
        
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Files</button>
      <clr-tab-content *clrIfActive="true">
        Cloud content
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Wiki</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Back Log</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Tasks and research tasks</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>BOT</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>PHR Portal</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Resource Portal</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Assignments</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>MBO</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
    
    <clr-tab>
        <button clrTabLink>Good Times</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>

    
    <clr-tab>
        <button clrTabLink>Innovative Dashboard</button>
        <clr-tab-content *clrIfActive="true">
          Cloud content
        </clr-tab-content>
    </clr-tab>
  </clr-tabs>
