<clr-vertical-nav>
  <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="bell"></cds-icon><br>
    Activity
  </a>
  <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="chat-bubble"></cds-icon><br>
    Chat
  </a>
  <a clrVerticalNavLink routerLink="../teams" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="administrator"></cds-icon><br>
    Teams
  </a>
  <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="calender"></cds-icon><br>
    Calender
  </a>
  <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="phone-handset"></cds-icon><br>
    Calls
  </a>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="file"></cds-icon><br>
    Files
  </a>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="ellipsis-horizontal"></cds-icon><br>
    
  </a>
</clr-vertical-nav>

<!-- 
<div class="content-container ">
    <nav class="sidenav menu-bar">
      <section class="sidenav-content">
        <a class="nav-link"><cds-icon shape="bell" size="24" inverse solid></cds-icon><br><p>Activity</p> </a>
        <a class="nav-link"><cds-icon shape="chat-bubble" size="24" inverse solid></cds-icon><br><p>Chat</p></a>
        <a class="nav-link active"><cds-icon shape="administrator" size="24" inverse solid></cds-icon><br><p>Teams</p></a>
        <a class="nav-link"><cds-icon shape="calender" size="24" inverse solid></cds-icon><br><p>Calender</p></a>
        <a class="nav-link"><cds-icon shape="phone-handset" size="24" inverse solid></cds-icon><br><p>Calls</p></a>
        <a class="nav-link"><cds-icon shape="file" size="24" inverse solid> </cds-icon><br><p>Files</p></a>
        <a class="nav-link"><cds-icon shape="ellipsis-horizontal" size="24" inverse solid></cds-icon></a>
      </section>
    </nav>
    <div class="content1">
      <app-teamview></app-teamview> 
    </div>
  
    
    
</div> -->

