<div class="clr-row">
    
    <div class="card">
        <!-- <div class="card-header">
          Header
        </div> -->
        <div class="card-block">
          <div class="card-media-block">
            <!-- <img src="https://via.placeholder.com/60?text=Image" class="card-media-image" /> -->
            <div class="card-media-description">
              <span class="card-media-title name">
                {{name}}
                <span class="date">{{getDate}}</span>
                <span class="time">{{getTime}}</span>
                <div class="options dropdown" [ngClass]="{'open' : opened}">
                    <button class="dropdown-toggle" (click)="open()"><cds-icon shape="ellipsis-horizontal"></cds-icon></button>
                    <div class="dropdown-menu" >
                        <div class="dropdown-item"><button class="btn btn-link deleteBtn" (click)="deleteMessage()">Delete</button></div>
                        <div class="dropdown-item"><button class="btn btn-link deleteBtn" (click)="editMessage()">Edit</button></div>
                    </div>
                </div>
                
              </span>
              <span class="card-media-text msgtext">
                {{message}}
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer">
          <button class="btn btn-sm btn-link">Action</button>
        </div> -->
      </div>
      <img src="../../../assets/images/user.svg" alt="">
    <!-- <div class="clr-col-lg-6 clr-col-12">
      
    </div>
    <div class="clr-col-lg-6 clr-col-12">
      
    </div> -->
</div>
<app-editmessage *ngIf="edited" [editMsg]="message" [datetime]="datetime" [messageId]="messageId"></app-editmessage>
