<div class="clr-col-lg-4 clr-col-12 carder">
  
    <a href="javascript:void(0)" class="card clickable">
      <div class="optionButton">
        <cds-icon shape="ellipsis-horizontal" size="24" inverse solid></cds-icon>
      </div>
      
      <div class="card-img">
        <img src="../../../assets/images/99x logo main.png" alt="..." />
      </div>
      <div class="card-block">
        <h1>{{cardName}}</h1>
        <p class="card-text">
          
        </p>
      </div>
    </a>
</div>

