<div class="main-container">
    <app-header></app-header>
    
    <div class="content-container">
        <app-menubar></app-menubar>
        <div class="content-container bodyc">
            <clr-vertical-nav>
                <a clrVerticalNavLink routerLink=""  class="logo">
                    <img src="../../../assets/images/99x logo main.png" alt="" class="logo">
                </a>
                <a clrVerticalNavLink routerLink="" ><p>Internal Systems</p></a>
                <a clrVerticalNavLink routerLinkActive="active">General</a>
                <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Career Developments</a>
                <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Cloud Notifications</a>
                <!-- <div class="nav-divider"></div>
                <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a> -->
            </clr-vertical-nav>
            <div class="messagecontents">
                <app-headbar></app-headbar>
            </div>
        </div>
        
    </div>
</div>

